body {
  background-color: rgb(49 75 113);
}

.congratulations {
  color: yellow;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 5%;
}

.inputBox{
  background-color: rgb(116 180 216);

  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;

  width: 300px;

  padding-top: 5%;
  padding-bottom: 5%;

  text-align: center;

 

  
  
}